body {
    width: 100%;
    height: 600px;
    background: #eeeeee;
}

header {
    top: 0;
    background-color: #E0E0E0;
    padding: 25px;
    font-size: 1.4em;
}

header img {
    float: left;
    width: 30px;
    height: 30px;
  }

header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

.message {
    white-space: pre-wrap;
    margin: 40px 15px;
}

.hide {
    visibility:hidden;
}

.show {
    display: block;
}

input[type=submit] {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background-color: #0071ce;
    color: #ffffff;
}

.jumbotron {
    margin-bottom: 0;
    background-color: #f2f2f2;
}

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

.mainrow {
    padding: 10px;
}

footer {
    background-color: #E0E0E0;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}